<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spring Examples</title>
    <!-- Bootstrap core CSS -->
    <link href="scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="scripts/jquery/jquery.min.js"></script>
    <script src="scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="scripts/angular/functions.js"></script>
</head>

<body ng-app="UserManagement" ng-controller="UserManagementController">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Spring Examples</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-capitalize">wireframe style guide</h1>
                <p class="lead text-muted">Components designed to fit nicely together </p>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <form ng-submit="submitEmployee()">
            <div class="row">
                <div class="p-5 col-lg-6">
                    <h1>Save or edit data</h1>
                    <form>
                        <div class="form-group"><input type="text" ng-model="form.firstName" class="form-control"
                                                       placeholder="First Name"></div>
                        <div class="form-group"><input type="text" ng-model="form.lastName" class="form-control"
                                                       placeholder="Last Name"></div>
                        <div class="form-group"><input type="text" ng-model="form.email" class="form-control"
                                                       placeholder="e-mail"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="employee in employees">
                            <td>{{ employee.firstName }}</td>
                            <td>{{ employee.lastName }}</td>
                            <td>{{ employee.email }}</td>
                            <td><a ng-click="editEmployee( employee )" class="button">Edit</a> | <a
                                    ng-click="removeEmployee( employee )" class="button">Remove</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<div class="bg-dark text-white p-4">
    <div class="container">
        <div class="row">
            <div class="p-4 col-md-4">
                <h2 class="mb-4 text-secondary">Pingendo</h2>
                <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
            </div>
            <div class="p-4 col-md-4">
                <h2 class="mb-4 text-secondary">Mapsite</h2>
                <ul class="list-unstyled">
                    <a href="#" class="text-white">Home</a>
                    <br>
                    <a href="#" class="text-white">About us</a>
                    <br>
                    <a href="#" class="text-white">Our services</a>
                    <br>
                    <a href="#" class="text-white">Stories</a>
                </ul>
            </div>
            <div class="p-4 col-md-4">
                <h2 class="mb-4">Contact</h2>
                <p>
                    <a href="tel:+246 - 542 550 5462" class="text-white">
                        <i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
                </p>
                <p>
                    <a href="mailto:info@pingendo.com" class="text-white">
                        <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
                </p>
                <p>
                    <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
                        <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-white">© Copyright 2017 Pingendo - All rights reserved. </p>
            </div>
        </div>
    </div>
</div>

</body>

</html>